<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form th:action="@{/contact}" method="post">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" />
    <input class="btn btn-success" type="submit" value="Submit" placeholder="Enter a message..."/>
    <h1></h1>
    <a th:href = "@{/contactList}">Show contact list</a>

</form>
</body>
</html>